node_modules
package-lock.json
dist
13-redux-advanced/package.json
14-react-router/backend/package.json
14-react-router/frontend/package.json
13-redux-advanced/.DS_Store
12-redux/package.json
12-redux/.DS_Store
11-food-order/backend/data/orders.json
.idea/shelf/Add_notification_handling_for_cart_data_submission_in_App_component/shelved.patch
.idea/shelf/Add_notification_handling_for_cart_data_submission_in_App_component1/shelved.patch
.idea/shelf/Add_notification_handling_for_cart_data_submission_in_App_component1.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/shelf/Add_notification_handling_for_cart_data_submission_in_App_component.xml
.idea/workspace.xml
11-food-order/.gitignore
11-food-order/backend/data/orders.json
11-food-order/backend/data/orders.json
.idea/workspace.xml
15-Tanstack/package.json
15-Tanstack/README.md
15-Tanstack/backend/package.json
